// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul{
    list-style-type:none;
    white-space:nowrap;
    overflow-x:auto;
}

li{
    display:inline;
}

.profile{
  border-radius: 10px;
//   width: 400px;
  height: 500px;
  display: inline-block;
  overflow-y: scroll;
  padding: 10px;
  color: black;
}
.profile:nth-child(5n+0){
  background-color: #9055cf;
}
.profile:nth-child(5n+1){
  background-color: #cf5590;
}
.profile:nth-child(5n+2){
  background-color: #5590cf;
}
.profile:nth-child(5n+3){
  background-color: #90cf55;
}
.profile:nth-child(5n+4){
  background-color: #55cf90;
}

.profile p{
  white-space: pre-line;
}

.center{
  text-align: center;
}

.profile_pic{
  height: 200px;
  max-width: 90%;
}
