// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// this stuff makes the grid adjust to different screen sizes
.profiles_grid{
  float:left;
  padding: 3.75%;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 0;
  grid-row-gap: 20px;
}
@media only screen and (min-width: 640px) {
  .profiles_grid {
    grid-template-columns: 47.5% 47.5%;
    grid-column-gap: 5%;
    grid-row-gap: 40px;
  }
}
@media only screen and (min-width: 970px) {
  .profiles_grid {
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 5%;
    grid-row-gap: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  .profiles_grid {
    grid-template-columns: 21.25% 21.25% 21.25% 21.25%;
    grid-column-gap: 5%;
    grid-row-gap: 50px;
  }
}

.profile{
  border-radius: 10px;
  color: black;
}
.profile:nth-child(5n+0){
  background-color: #9055cf;
}
.profile:nth-child(5n+1){
  background-color: #cf5590;
}
.profile:nth-child(5n+2){
  background-color: #5590cf;
}
.profile:nth-child(5n+3){
  background-color: #90cf55;
}
.profile:nth-child(5n+4){
  background-color: #55cf90;
}

.selected{
  border-style: solid;
  border-color: blue;
  border-width: 3px;
}

.center{
  text-align: center;
}

.constrain-width{
  width: 400px;
}

.profile img{
  max-width: 200px;
}

.profile_pic{
  float: center;
  height: auto;
  max-width: 90%;
  padding: 2% 0% 0% 26%;
}

.profile_body{
  float: right;
  padding: 6% 30% 0% 0%;
}

.banner {
  padding: 0% 0% 30% 0%;
}
