// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// this stuff makes the grid adjust to different screen sizes
.home_border{
  float: left;
  width: 90%;
  height: auto;
}

.home_container{
    padding: 7% 0% 0% 10%;
}

@media (max-width: 950px){
  .home_container{
      padding: 9% 0% 0% 10%;
  }

  .home_logo{
    max-width: 40%;
    height: auto;
    width: auto;
    padding: 10px;
  }

  .logo_border {
    max-width: 30%;
    height: auto;
    background: var(--background);
    -moz-border-radius: 10%;
    -webkit-border-radius: 10%;
    border-radius: 32%;
   }
}
//
// .logo_border {
//   max-width: 30%;
//   height: auto;
//   background: var(--background);
//   -moz-border-radius: 10%;
//   -webkit-border-radius: 10%;
//   border-radius: 32%;
//  }

.login {
  float: right;
  padding: 5% 40% 0% 0%;
}

.login a{
  color: var(--fields);
}

.login a:hover{
  background-color: var(--frame);
  color: var(--fields);
  transition: all 0.3s;
}
