// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.account_disp{
	padding: 1% 0% 0% 2%;
}

.account_bar .account_item{
	display: inline-block;
}

.account_item{
	margin: 0 4px;
}
