<p id="notice"><%= notice %></p>

<h1>Your Matches</h1>

<%if !@successful_matches.empty?%>
  <h2>Mutual Accepts:</h2>
  <ul>
      <% @successful_matches.each do |match| %>
        <li>
          <%= render 'matches/other_profile', match: match, current_user: @current_user %>
        </li>
      <% end %>
  </ul>
<%end%>

<!-- we should have a feild in profile for a message to show successful matches -->
<!-- message with contact info of their choice, not necessarily their email -->
<h2>Suggested Matches:</h2>
<%if @pending_response.empty?%>
  You don't have any new matches
<%else%>
  <ul>
    <% @pending_response.each do |match| %>
      <li>
        <%= render 'matches/other_profile', match: match, current_user: @current_user %>
      </li>
    <% end %>
  </ul>
<%end%>
